@charset "UTF-8";

body{
	background-color:#898989;
	margin:0;
	padding:0;
	font-size :0.75em;
	line-height:1.2em;
	color:#333;
}

#warp{
	width:971px;
	text-align:left;
	margin:0;
	margin-right:auto;
	margin-left:auto;
	background-image: url(../images/shadow.png);
	background-repeat: repeat-y;
	min-height: 980px;
}

#logo{
	float:left;
	width: 265px;
	margin: 60px 0 0 40px;
	
}

header{
	height:151px;
}

.clear{
	clear:both;
}

nav{ 
	 width:600px; 
	 margin:50px 20px 0 0;
	 float:left;	 
}

nav ul{
	list-style:none;
	font-family:Verdana, Genevam sans-self;
	font-size:14px;
	font-weight:100;
	font-color:#333;
}

nav ul li{
		float:left;
		margin:0 5px;
}

nav a{ 
		display:block;
		text-decoration:none;
		height:20px;
		padding:10px;
		color:#333;	
	}

nav a:hover{
	background-image:url(../images/blue.gif);
	background-repeat:repeat-x;
	background-position:bottom;
}
	
#login{
	float: right;
	margin: 20px 64px 0 0;
	font-family: Arial, Helvetia, sans-serif;
	flot-size:12px;
	word-spacing: 5px;
	text-decoration:none;
}


#login a{
		text-decoration:none;
		color:#333;
}

#login a:hover{color:orange;}




